.c_container {
    padding-bottom: 15px;
    margin: 5px 10px;
}
.c_actions, .c_icon, .c_icon > img, h2.c_title {
    float: left;
}
.c_actions {
    height: 2em;
    line-height: 2em;
}
.icn img {
    margin-right: 5px;
}
h2.c_title {
    margin: 0;
    padding: 0;
}
.c_contentpane{
    padding-top: 5px;
}
.c_left_actions {
    float: left;
    margin-top: 5px;
}
.c_right_actions {
    float: right;
    margin-top: 5px;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
