/* DNN Docs Site */

h1, h2, h3 { color: #515151; }

h2 { font-size: 22px; }

a { color: #0d8dbf; }

img {
	background: #f9f9f9;
	border: 6px double #fff;
	padding: 1em;
}

.well {
	background: #f5f5f5;
	border: 1px solid #e3e3e3;
	padding: 1em;	
}

/* Tips: blue color */
.tip {
	background-color: #e8fcff;
	border: 1px solid #c0eaef;
} 

.tip p.admonition { color: #7eb9c1; }

/* Notes: yellow color */
.note {
	background-color: #ffffdb;
	border: 1px solid #e6df8f;
} 

.note p.admonition-title { color: #c2bc69; }

/* Inline Code (<code>) */
code { background-color: #f2f8f9; color: #062873; } 

/* dark blue color text on light blue/grey background */
