@brown: #382224;
	@brown-light: #432f30;
	@brown-lighter: #847274;

@red: #f03c40;
@blue: #0aa8e7;
	@blue-light: #19aee5;
	@blue-dark: #07a7e3;

@purple: #8b098f;
@green: #9daa12;
@orange: #d48e12;

@gray-medium: #888;
@gray-light: #f4f4f4;