{% extends "basic/layout.html" %}

{# Silence the sidebar's, relbar's #}
{% block header %}{% endblock %}
{% block relbar1 %}{% endblock %}
{% block relbar2 %}{% endblock %}
{% block sidebarsourcelink %}{% endblock %}

{% set debug = false %}
{% set theme_css_files = [
    'http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css',
    '_static/dnn.styles.css'
  ]
%}

{% set css_files = css_files + theme_css_files %}

{% set script_files = script_files + [
    'http://code.jquery.com/jquery-1.11.3.min.js',
    'http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'
  ]
%}

{%- set rendersidebar = (not embedded) and sidebars and (pagename not in theme_hide_sidebar) %}

{% macro navBar() %}
{% include "navbar.html" %}
{% endmacro %}

{%- macro bsidebar() %}
    {%- if rendersidebar %}
    <nav class="doc-nav-wrapper">
        {%- for sidebartemplate in sidebars %}
          {%- include sidebartemplate %}
        {%- endfor %}
	</nav>
    {%- endif %}
{%- endmacro %}

{%- block doctype -%}
<!DOCTYPE html>
{%- endblock %}

{%- block extrahead %}
<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1.0'>
<meta name="apple-mobile-web-app-capable" content="yes">
{% endblock %}

{%- block content %}
{{ navBar() }}

{% if debug == true %}
<pre style="margin-top: 60px">
    Embedded: {{embedded}}
    Sidebars: {{sidebars}}
    PageName: {{pagename}}
    HideSidebar: {{theme_hide_sidebar}}
    Show: {{ pagename not in theme_hide_sidebar }}
    Render: {{(not embedded) and sidebars and (pagename not in theme_hide_sidebar)}}
    Render Sidebar: {{ rendersidebar }}
    Debug: {{debug}}
</pre>
{% endif %}

{% if rendersidebar %} 
<main class="main-body doc-main-body">
    {%- block sidebar1 %}{{ bsidebar() }}{% endblock %}
    <section class="doc-wrapper">
        <div class="doc">
{% else %}
<main class="main-body">
    <div class="container-fluid">
{% endif %}

{% block body %}{% endblock %}

{% if rendersidebar %}
        </div>
        <nav class="article-nav-wrapper">
            {% block sidebar2 %}{% endblock %}         
        </nav>
    </section>
</main>
{% else %}
    </div>
</main>
{% endif %}
{%- endblock %}

{%- block footer %}
{% include "footer.html" %}
{%- endblock %}
