{% extends "basic/layout.html" %}

{# Silence the sidebar's, relbar's #}
{% block header %}{% endblock %}
{% block relbar1 %}{% endblock %}
{% block relbar2 %}{% endblock %}
{% block sidebarsourcelink %}{% endblock %}

{% set theme_css_files = [
    'http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css',
    '_static/dnn.styles.css'
  ]
%}

{% set css_files = css_files + theme_css_files %}

{% set script_files = script_files + [
    'http://code.jquery.com/jquery-1.11.3.min.js',
    'http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'
  ]
%}

{%- set render_sidebar = (not embedded) and (not theme_nosidebar|tobool) and sidebars %}

{%- set bs_content_width = render_sidebar and "9" or "12" %}

{% macro navBar() %}
{% include "navbar.html" %}
{% endmacro %}

{%- macro bsidebar() %}
    {%- if render_sidebar %}
    <nav class="doc-nav-wrapper">
        {%- for sidebartemplate in sidebars %}
          {%- include sidebartemplate %}
        {%- endfor %}
	</nav>
    {%- endif %}
{%- endmacro %}

{%- block doctype -%}
<!DOCTYPE html>
{%- endblock %}

{%- block extrahead %}
<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1.0'>
<meta name="apple-mobile-web-app-capable" content="yes">
{% endblock %}

{%- block content %}
{{ navBar() }}

{% if sidebars %} 
<main class="main-body doc-main-body">
    {%- block sidebar1 %}{{ bsidebar() }}{% endblock %}
    <section class="doc-wrapper">
        <div class="doc">
{% else %}
<main class="main-body">
    <div class="container-fluid">
{% endif %}

{% block body %}{% endblock %}

{% if sidebars %}
        </div>
        <nav class="article-nav-wrapper">
            {% block sidebar2 %}{% endblock %}         
        </nav>
    </section>
</main>
{% else %}
    </div>
</main>
{% endif %}
{%- endblock %}

{%- block footer %}
<footer class="footer">
    <div class="container">
        <div class="row footer-quick-links">
            <div class="col-xs-12">
                <ul class="quick-links">
                    <li>
                        <a href="mailto:sales@dnnsoftware.com" class="email">
                            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                            sales@dnnsoftware.com
                        </a>
                    </li>
                    <li>
                        <a href="tel:650.288.3150" class="phone">
                            <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                            (650) 288.3150
                        </a>
                    </li>
                    <li>
                        <a href="tel:350.288.3191" class="fax">
                            <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
                            (650) 288.3191
                        </a>
                    </li>
                    <li class="social-media-wrapper">
                        Follow
                        <ul class="social-media">
                            <li><a href="http://facebook.com/dotnetnuke" class="facebook"></a></li>
                            <li><a href="http://twitter.com/dnncorp" class="twitter"></a></li>
                            <li><a href="http://www.linkedin.com/company/207975" class="linkedin"></a></li>
                            <li><a href="http://www.youtube.com/user/dotnetnuke#" class="youtube"></a></li>
                            <li><a href="http://twitter.com/dnn" class="twitter"></a></li>
                        </ul>
                    </li>
                    <li class="pull-right">
                        <a href="#">Back to Top</a>
                    </li>
                    {% if theme_source_link_position == "footer" %}
                    <li class="pull-right">
                        {% include "sourcelink.html" %}
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="row footer-policy">
            <div class="col-xs-12">
                <ul class="horizontal-list">
                    <li>Copyright 2015 by DNN Corp</li>
                    <li><a href="http://www.dnnsoftware.com/Terms">Terms of Use</a></li>
                    <li><a href="http://www.dnnsoftware.com/Privacy">Privacy</a></li>
                    {%- if last_updated %}
                    <li>
                        {% trans last_updated=last_updated|e %}Last updated on {{ last_updated }}.{% endtrans %}<br/>
                    </li>
                    {%- endif %}
                </ul>
            </div>
        </div>

    </div>
</footer>
{%- endblock %}
